.container {

    background-image: url("https://i.postimg.cc/XNc973GP/descarga.jpg");
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

@keyframes in {
    0% {
        margin-left: 10%;
    
    }

    100% {
        margin-left: 0;
    }

}